/*[ F O O T E R ]
///////////////////////////////////////////////////////////
*/

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--co-white);
}

.footer .end{
    text-align: center;
    font-size: 90%;
}